<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.mileagethief.korean-air-daily</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/vory/StudioProjects/mileage_thief/task/korean/run_korean_air_daily.sh</string>
  </array>

  <key>WorkingDirectory</key>
  <string>/Users/vory/StudioProjects/mileage_thief</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>9</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>

  <key>StandardOutPath</key>
  <string>/Users/vory/Library/Logs/mileage_thief/korean-air-daily.launchd.out.log</string>

  <key>StandardErrorPath</key>
  <string>/Users/vory/Library/Logs/mileage_thief/korean-air-daily.launchd.err.log</string>
</dict>
</plist>
