<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>마일캐치</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>mileage_thief</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-8549606613390169~3500255527</string>
	<key>GADIsAdManagerApp</key>
	<true/>
    <key>GMSApiKey</key>
    <string>AIzaSyAEX91uv2eyFQKfOG8LyN7e9hEEd0sZVko</string>
	<key>GIDClientID</key>
	<string>962527268971-6de9mcd4hgtahu7f39o1a2le5gl9d7oi.apps.googleusercontent.com</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
    <array>
      <string>https</string>
      <string>http</string>
      <string>googlegmail</string>
    </array>
    
    <!-- Flutter 기본 딥링크 비활성화 -->
    <key>FlutterDeepLinkingEnabled</key>
    <false/>
    
    <!-- Branch.io 설정 -->
    <key>branch_key</key>
    <string>key_live_gFtkAHtvCb21GOaphUeWfnjlCsgquMU8</string>
    
	<key>branch_universal_link_domains</key>
    <array>
        <string>milecatch.app.link</string>
        <string>milecatch-alternate.app.link</string>
    </array>

    	<!-- Associated Domains (Universal Links) -->
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:milecatch.app.link</string>
	</array>
	
	<!-- Custom URL Schemes -->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>milecatch</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>milecatch</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.962527268971-6de9mcd4hgtahu7f39o1a2le5gl9d7oi</string>
			</array>
		</dict>
	</array>
	
	<!-- Privacy - Photo Library Usage Description -->
	<key>NSPhotoLibraryUsageDescription</key>
	<string>사진 업로드를 위해 사진 접근 권한이 필요합니다.</string>
	
	<!-- Privacy - Camera Usage Description -->
	<key>NSCameraUsageDescription</key>
	<string>사진 촬영을 위해 카메라 접근 권한이 필요합니다.</string>

    <!-- Privacy - Location Usage Descriptions for Map current location -->
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>현재 위치를 지도에 표시하기 위해 위치 접근 권한이 필요합니다.</string>

	<key>NSPhotoLibraryAddUsageDescription</key>
    <string>사진을 저장하기 위해 사진첩 접근 권한이 필요합니다.</string>

    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
</dict>
</plist>
